/**
 * ! Margins and Padding css start
 * ? SIDES
 * * -l:(left)
 * * -r:(right)
 * * -t:(top)
 * * -b:(bottom)
 * ? SIZES
 * * auto 
 * * 0rem - 0.25rem - 0.50rem - 0.75rem
 * * 1rem - 1.25rem - 1.50rem - 1.75rem
 * * 2rem - 2.25rem - 2.50rem - 2.75rem
 * * 3rem 
 * * 4rem 
 * * 5rem 
 */

$type: (
  "margin": "m",
  "padding": "p",
);

$sizes: (
  "auto": auto,
  "0": 0rem,
  "25": 0.25rem,
  "50": 0.5rem,
  "75": 0.75rem,
  "100": 1rem,
  "125": 1.25rem,
  "150": 1.5rem,
  "175": 1.75rem,
  "200": 2rem,
  "225": 2.25rem,
  "250": 2.5rem,
  "275": 2.75rem,
  "300": 3rem,
  "400": 4rem,
  "500": 5rem,
);

$sides: (
  "left": "l",
  "right": "r",
  "top": "t",
  "bottom": "b",
);

@each $type-key, $type-val in $type {
  @each $size-key, $size-val in $sizes {
    .#{$type-val}-#{$size-key} {
      #{$type-key}: #{$size-val};
    }
  }
  // above will show m-size on all sides

  @each $size-key, $size-val in $sizes {
    @each $side-key, $side-val in $sides {
      .#{$type-val}-#{$size-key}-#{$side-val} {
        #{$type-key}-#{$side-key}: #{$size-val};
      }
    }
  }
  // above will show m-size-side on that side

  @each $size-key, $size-val in $sizes {
    .#{$type-val}-#{$size-key}-tb {
      #{$type-key}-top: #{$size-val};
      #{$type-key}-bottom: #{$size-val};
    }
  }
  // above will show m-size-topandbottom

  @each $size-key, $size-val in $sizes {
    .#{$type-val}-#{$size-key}-lr {
      #{$type-key}-left: #{$size-val};
      #{$type-key}-right: #{$size-val};
    }
  }
  // above will show m-size-leftandright
}

/**
 * ! Margins and Padding css ends
 */
